extends base

block content
	if errMsg
		span=errMsg
	form(method="POST")
		input(name="title", placeholder="Title", required, type="text", maxlength=50)
		input(name="description", placeholder="Description", type="text", maxlength=80)
		input(name="hashtags", placeholder="Hashtags, seperated by comma", type="text")
		input(type="submit", value="Upload Video")
	